@font-face {
    font-family: 'AkzidenzGroteskPro';
    src: url(../static/font/AkzidenzGroteskPro-Light.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'AkzidenzGroteskPro';
    src: url(../static/font/AkzidenzGroteskPro-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: 'AkzidenzGroteskPro';
    src: url(../static/font/AkzidenzGroteskPro-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'AkzidenzGroteskPro-Super';
    src: url(../static/font/AkzidenzGroteskPro-Super.otf);
    font-weight: normal;
}