.menu {
    ul {
        text-align: right;
    }

    .menu__item {
        opacity: 0;
        display: inline-block;
    
        @for $i from 1 through 2 {
            &:nth-child(#{$i}) {
                transition: opacity .3s $i * .3s;
            }
        }
    
        & + .menu__item {
            margin-left: rem-calc(50);
        }
    }

    @media screen and (max-width: 890px) {
        position: fixed;
        will-change: transform;
        background: $primary-color;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s, visibility .3s;

        .opened-menu & {
            visibility: visible;
            opacity: 1;
            z-index: 98;            
            transition: opacity .3s;
        }

        ul {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate3d(0, -50%, 0);
            width: 100%;
        }

        .menu__item {
            text-align: center;
            display: block;
            position: relative;

            .link {
                font-size: rem-calc(24);
                text-align: center;
                font-family: $super-font-family;
                color: $secondary-color;
                padding: rem-calc(5 0);

                & span::before {
                    background-color: $secondary-color;
                }
            }
        }
    }
}

.hamburger {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    z-index: 99;
    outline: none;
}