body {
  margin: 0;
  padding: 0;
}

header .stripes {
  display: grid;
  grid: repeat(5, 200px) / repeat(10, 1fr);
  background: linear-gradient(
    #507eb1,
    #709dc7 10%,
    #dde9f5 38%,
    #eaf2f9 48%,
    #f6f9fc 62%
  );
}
header .stripes :nth-child(1) {
  grid-column: span 3;
}
header .stripes :nth-child(2) {
  grid-area: 3 / span 3 / auto / -1;
}
header .stripes :nth-child(3) {
  grid-row: 4;
  grid-column: span 5;
}
